body{
	background-image: url(../images/7.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
  }
#left {
	
	height: 500px;
	width: 290px;
	background-color: rgba(255, 255, 255, 0.1);
	text-shadow: 0px 0px 12px #ffffff;
	border-radius: 30px;
	
}
.contain {
	height: 800px;
	width: 290px;
	margin-top: 100px;
	margin-left: 140px;
	float: left;
}
.left1 {
    height: 270px;
	width: 290px;
	margin-top: 30px;
	background-color: rgba(255, 255, 255, 0.1);

	border-radius: 30px;
}
.left1 h2 {
	display: flex;
	justify-content: center;
	color: #080808;

}
.left1 h4 {
	line-height: 1.7em;
	text-indent: 1em;
	color: #000000;
	font-family: 黑体;
	text-shadow: 0px 0px 12px #ffffff;
	font-weight:normal
}
.left1 a{
	color: #000000;
}
.picture {
	height: 320px;
	width: 880px;
	background-color: rgba(147,144,144,0.4);
	box-shadow: 0px 0px 12px rgba(128,122,122,0.75);
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}



.main {
	float: left;
	height: 800px;
	width: 950px;
	margin-top: 100px;
	margin-left: 100px;
	background-color: rgba(255, 255, 255, 0.1);
	text-shadow: 0px 0px 12px #ffffff;
	border-radius: 30px;
	text-indent: 2em;
}
.main h2 
{
	display: flex;/*采用flex布局，详细介绍参考w3*/
    justify-content: center;
    align-items: center;
}

.logo1 {
	width: 280px;
	height: 240px;
	float: left;
	display: flex;/*采用flex布局，详细介绍参考w3*/
    justify-content: center;
    align-items: center;
}

.logo2 {
    width: 200px;
    height: 192px;
    float: left;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 12px rgba(255, 255, 255, 0.9);
    transition: all 1s;/*旋转过渡时间为1s*/
    float: left;
    
}

.logo2:hover {
    transform: rotate(360deg);/*旋转360度*/
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 1);/*设置边框阴影为白色*/

    transition: all 1s;
   
}



